@import "./libs/normalize.scss";

*,
*:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #353535;
}

@font-face {
    font-family: iranSans;
    font-style: normal;
    font-weight: normal;
    // src: url('/dist/fonts/eot/IRANSansWeb.eot')
    src: local("IRANSans");
    src: url("/administrator/fonts/iranSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
        url("/administrator/fonts/iranSans/woff2/IRANSansWeb.woff2") format("woff2"),
        url("/administrator/fonts/iranSans/woff/IRANSansWeb.woff") format("woff"),
        url("/administrator/fonts/iranSans/ttf/IRANSansWeb.ttf") format("truetype");
}

body {
    font-family: "iranSans";
    background-color: #f4f3fb;
    color: #8d96ac;
    background-image: url("/imgs/bg.jpg");
    background-size: cover;
    overflow: overlay;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
}

// Toasted
.toasted {
    direction: rtl;
    justify-content: unset !important;
    i {
        font-size: 27px;
        margin-left: 0.5rem !important;
        margin-right: -0.4rem !important;
    }
    .action {
        margin: 5px auto 5px 7px !important;
        color: white !important;
        border: 1px white solid;
        border-radius: 5px !important;
        padding: 5px 9px !important;
        letter-spacing: 0 !important;
    }
}
@import "libs/helpers.scss";
@import "pages.scss";
