@import "./libs/normalize.scss";

*,
*:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #353535;
}

@font-face {
    font-family: iranSans;
    font-style: normal;
    font-weight: normal;
    // src: url('/dist/fonts/eot/IRANSansWeb.eot')
    src: local("IRANSans");
    src: url("/administrator/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
        url("/administrator/fonts/woff2/IRANSansWeb.woff2") format("woff2"),
        url("/administrator/fonts/woff/IRANSansWeb.woff") format("woff"),
        url("/administrator/fonts/ttf/IRANSansWeb.ttf") format("truetype");
}

body {
    font-family: "iranSans";
    background-color: #f4f3fb;
    color: #8d96ac;
    background-image: url("/imgs/bg.jpg");
    background-size: cover;
    overflow: overlay;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
}

@import "libs/helpers.scss";
@import "pages.scss";
