.content {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 2rem;
    table {
        margin: 0 auto;
        background: #ffffffc7;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        backdrop-filter: blur(4px);
        position: relative;
        tr {
            &:hover {
                background: #dedede;
            }
            th {
                width: 1%;
                white-space: nowrap;
                padding: 5px;
                position: sticky;
                top: 50px;
                background: #ffffffc7;
                border-radius: 5px;
                z-index: 99999;
                backdrop-filter: blur(4px);
            }
            td {
                padding: 5px 2px;
                width: 1%;
                white-space: nowrap;
                border-bottom: 1px solid #c3c3c3;
                &.categories {
                    span {
                        display: inline-block;
                        position: relative;
                        margin-left: 15px;
                        &:not(:last-child)::after {
                            display: block;
                            content: "/";
                            position: absolute;
                            right: 100%;
                            top: -2px;
                            font-size: 22px;
                            color: #a3a3a3;
                        }
                    }
                }
            }
        }
        .options {
            a {
                transition: 0.3s;
                cursor: pointer;
            }
            .read {
                margin-left: 15px;
                &:hover {
                    color: #69e02b !important;
                }
            }
            .copy {
                margin-left: 15px;
                &:hover {
                    color: rgb(42, 112, 224);
                }
            }
            .update {
                margin-left: 20px;
                &:hover {
                    color: rgb(42, 112, 224);
                }
            }
            .delete {
                &:hover {
                    color: red;
                }
            }
        }
    }
}
