.content {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 2rem;
    direction: rtl;
    padding-right: 50px;

    table {
        margin: 0 auto;
        margin-bottom: 15px;
        background: #ffffffc7;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        backdrop-filter: blur(4px);
        position: relative;
        tr {
            &:hover {
                background: #dedede;
            }
            th {
                width: 1%;
                white-space: nowrap;
                padding: 5px;
                position: sticky;
                top: 4px;
                background: #ffffffc7;
                border-radius: 5px;
                z-index: 9;
                backdrop-filter: blur(4px);
                box-shadow: 0 3px 14px -6px #0000005c;
            }
            td {
                padding: 5px 2px;
                width: 1%;
                white-space: nowrap;
                border-bottom: 1px solid #c3c3c3;
                &.categories {
                    span {
                        display: inline-block;
                        position: relative;
                        margin-left: 15px;
                        &:not(:last-child)::after {
                            display: block;
                            content: "/";
                            position: absolute;
                            right: 100%;
                            top: -2px;
                            font-size: 22px;
                            color: #a3a3a3;
                        }
                    }
                }
                a {
                    transition: 0.2s;
                    &:hover {
                        color: rgb(36, 36, 36) !important;
                    }
                }
            }
        }
        .options {
            a {
                transition: 0.3s;
                cursor: pointer;
            }
            .star {
                margin-left: 15px;
                .fas {
                    color: gold;
                    transition: 0.3s;
                }
                .far {
                    transition: 0.3s;
                    &:hover {
                        color: gold;
                    }
                }
            }
            .read {
                margin-left: 15px;
                &:hover {
                    color: rgb(42, 112, 224) !important;
                }
            }
            .copy {
                margin-left: 15px;
                &:hover {
                    color: rgb(42, 112, 224) !important;
                }
            }
            .update {
                margin-left: 20px;
                &:hover {
                    color: rgb(42, 112, 224) !important;
                }
            }
            .delete {
                &:hover {
                    color: red !important;
                }
            }
        }
    }
    .loadMore {
        padding: 8px 34px 5px;
        border-radius: 99px;
        margin: 1rem auto;
        margin-top: 0px;
        display: block;
    }
}

.orderupList-enter-active,
.orderupList-leave-active {
    transition: all 1s;
}
.orderupList-enter,
.orderupList-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
